<%= link_to kitchen_path(kitchen) do %>
<div class="card-kitchen">
  <%= cl_image_tag kitchen.photo %>
  <div class="star-rating">
    <%= render 'shared/stars', kitchen: kitchen %>
  </div>
  <div class="card-body">
    <div>
      <h5 class="card-title mb-1"><%= kitchen.name %></h5>
      <p class="card-text overflow-ellipsis card-description"><%= kitchen.description.capitalize %></p>
    </div>
    <div class="d-flex justify-content-between mt-3">
      <p class="card-text card-address" ><i class="fas fa-map-marker-alt"></i> <%= kitchen.address %></p>
      <p class="card-text card-price">$ <%= kitchen.price %></p>
    </div>
  </div>
</div>
  <% end %>

