<%= link_to kitchen_path(kitchen) do %>
  <div class="card-kitchen">
    <%= cl_image_tag kitchen.photo %>
    <div class="star-rating">
      <%= render 'shared/stars', kitchen: kitchen %>
    </div>
    <div class="card-body">
      <div>
        <h5 class="card-title mb-1"><%= kitchen.name %></h5>
        <p class="card-text overflow-ellipsis card-description"><%= kitchen.description.capitalize %></p>
      </div>
      <div class="d-flex justify-content-between mt-3">
        <p class="card-text card-address" ><i class="fas fa-map-marker-alt"></i> <%= kitchen.address %></p>
        <p class="card-text card-price">$ <%= kitchen.price %></p>
      </div>
    </div>
    <div class="btn-box">
      <% if policy(kitchen).edit? %>
        <%= link_to 'edit', edit_kitchen_path(kitchen), class: 'btn-card' %>
      <% end %>
      <% if policy(kitchen).destroy? %>
        <%= link_to kitchen_path(kitchen), method: :delete, remote: true, data: { confirm: "Are you sure you want to delete this item?"}, id: kitchen.id, class: 'btn-card-trash' do %>
          <i class='fas fa-trash'></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
