<div class="wraper">
  <div class="form-new">
    <div class="title">
      <h1>Edit kitchen</h1>
    </div>
     <%= simple_form_for [@user, @kitchen] do |f| %>
       <%= f.input :address, id: 'flat_address' %>
       <%= f.input :description %>
       <%= f.input :name %>
       <%= f.input :price %>
       <%= f.input :photo %>
       <%= f.input :photo_cache, as: :hidden %>
        <div class="links">
          <%= f.button :submit, class: 'btn-card' %>
          <%= link_to 'Home', root_path, class: "btn-home" %>
        </div>
      <% end %>
  </div>
</div>
