<div class="kitchen-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @kitchen.photo %>)">
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="name-title"><%= @kitchen.name %></h1>
        <div class="d-flex flex-column align-items-center">
          <%= cl_image_tag @kitchen.user.photo, class: 'avatar border border-dark' %>
          <%= @kitchen.user.name %>
        </div>
      </div>
      <p class="address-text"><i class="fas fa-map-marker-alt"></i> <%= @kitchen.address %></p>
      <p class="description-text mb-0"><strong><i class="fas fa-utensils"></i> The kitchen</strong></p>
      <p class="p-letter mt-0 mb-3"><%= @kitchen.description %></p>

      <div class="mt-5">
        <h2 class="sub-title">Reviews</h2>
        <% @kitchen.reviews.reverse.each do |review| %>
          <div class="reviews-container rounded-lg my-3">
            <div class="reviews-user">
              <div class="d-flex">
                <img src="<%= review.user.avatar %>" alt="" width=50 class="avatar border border-dark">
                <div>
                  <p class="m-0 ml-3"><%= review.author %></p>
                  <p class="m-0 ml-3"><%= Date.parse(review.appointment.date).strftime("%B %Y") %></p>
                </div>
              </div>
              <% (1..5).each do |num|  %>
                <% if num <= review.rating %>
                  <i class="fas fa-star mt-2" style="color: #1D3756"></i>
                <% else %>
                  <i class="far fa-star mt-2" style="color: #1D3756"></i>
                <% end %>
              <% end %>
            </div>
            <h3 class="mt-2 p-letter border-bottom mb-3 pb-3"> <%= review.content %> </h3>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <% if @kitchen.user == current_user %>
        <div class="btn-box-show">
          <ul>
          <% if policy(@kitchen).edit? %>
           <%= link_to 'Edit kitchen', edit_kitchen_path(@kitchen), class: 'btn-card' %>
          <% end %>
          <% if policy(@kitchen).destroy? %>
           <%= link_to 'Delete kitchen', kitchen_path(@kitchen),  method: :delete, class: 'btn-card-trash' %>
          <% end %>
          </ul>
        </div>
      <% else %>
        <div class="booking-card p-3 border rounded-lg mt-3">
            <p class="price-text border-bottom"><strong>$<%= @kitchen.price %></strong> por día</p>
          <h2 class="p-letter mb-3">Book:</h2>
          <%= simple_form_for [@kitchen, @appointment] do |f| %>
            <p class="my-1 p-0" style="font-size: 14px">Agregá fechas para obtener precios exactos</p>
            <%= f.input :date, as: :string, input_html: { class: "datepicker"}, label: false %>
            <%= f.button :submit, class: "btn btn-primary mb-2 w-100" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container d-flex">
  <div class="col-lg-9 my-3">
 </div>
</div>

