<div class="kitchen-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @kitchen.photo %>)">
  <h1><%= @kitchen.name %></h1>
</div>
<div class="container d-flex">
  <div class="col-lg-9 my-3">
    <h2 class="sub-title">Description</h2>
    <p class="p-letter"><%= @kitchen.address %></p>
    <p class="p-letter"><%= @kitchen.description %></p>
 </div>

  <% if @kitchen.user == current_user %>
    <div class="btn-box-show">
      <ul>
      <% if policy(@kitchen).edit? %>
       <%= link_to 'Edit kitchen', edit_kitchen_path(@kitchen), class: 'btn-card' %>
      <% end %>
      <% if policy(@kitchen).destroy? %>
       <%= link_to 'Delete kitchen', kitchen_path(@kitchen),  method: :delete, data: { confirm: "Are you sure you want to delete this item?"}, class: 'btn-card-trash' %>
      <% end %>
      </ul>
    </div>
  <% else %>
    <div class="col-lg-3 my-3">
      <h2>Book:</h2>
      <%= simple_form_for [@kitchen, @appointment] do |f| %>
        <%= f.input :date, as: :string, input_html: { class: "datepicker"} %>
        <%= f.button :submit, class: "btn btn-primary mb-2" %>
      <% end %>
    </div>
  <% end %>
</div>





<div class="wrapper-review">
  <h2 class="sub-title">Reviews</h2>
   <% @kitchen.reviews.each do |review| %>
    <div class="reviews-container rounded-lg m-2 p-2">
      <div class="reviews-user">
        <img src="<%= review.user.avatar %>" alt="" width=50 class="avatar border border-dark">
        <p class="p-letter"><%= review.author %></p>
      </div>
      <h3 class="mt-2 p-letter"> <%= review.content %> </h3>
      <p class="p-letter"><%= review.appointment.date %></p>
    </div>
    <% end %>
</div>
